.mortdog {
    position: absolute;
    right: 259px;
    bottom: 19px;
    width: 70px;
    height: 83px;  
}

.danke {
    position: absolute;
    right: 35px;
    bottom: 115px;
    width: 89px;
    height: 70px;
}